<ion-content>
  <ion-grid [hidden]=hideLogin >
    <ion-row>
      <ion-col >
        <h1>Colocá tu contraseña de usuario para desactivar la alarma</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <form [formGroup]="ionicForm"  (ngSubmit)="login()" novalidate>
          <div class="input-group">
            <ion-item >
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
            <!-- password Error messages -->
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors ion-padding">
              <span *ngIf="password.errors?.required"> La contraseña es requerido.</span>
              <span *ngIf="password.errors?.minlength">  La contraseña debe tener al menos cuatro carácteres.</span>
            </div>
          </div>
          <ion-button type="submit" expand="block">Desactivar Alarma</ion-button>          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>   
    <ion-row [hidden]=alarmaService.estaSonando >
      <ion-col >
        <h1>¡Presioná la sirena para activar la alarma!</h1>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="!alarmaService.estaSonando || !hideLogin" >
      <ion-col >
        <h1>¡Presioná la sirena para desactivar la alarma!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>        
        <ion-img #sirena [src]="alarmaService.asset()"  color="none" alt="Estado" (click)="cambiarEstadoAlarma()" ></ion-img>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  
  <ion-button  [hidden]="alarmaService.estaSonando" (click)="logout()" color="primary" expand="full">
    <ion-icon name="log-out-outline"></ion-icon>
    <ion-label>Cerrar</ion-label>
  </ion-button>

</ion-footer>